body {
  background-color: rgba(248, 248, 248, 1);
  font-family: 'Arial Standaard', 'Arial';
  margin: 0;
}

ul {
  list-style-type: circle;
}
li {
  margin: 5px 0px;
}

.app {
  background-color: white;
  height: 100%;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.app-top-panel-left {
  float: left;
  padding-top: 10px;
}
.app-top-panel-right {
  float: right;
  padding-top: 10px;
}

.app-row {
  width: 100%;
  display: inline-block;
}

.steper-text {
  text-align: center;
}

.step-icon svg {
  width: 48px !important;
  height: 48px !important;
}

.link {
  cursor: pointer;
}
.link:hover {
  color: red;
}
