.block {
  margin-top: 30px;
  width: 450px;
  height: 175px;
  background-color: white;
  border-color: #5CB85C;
  border-style: solid;
  border-width: thick;
}

.block-input input {
  color: white !important;
}
