.header {
  height: 60px;
  background-color: white;
}
.content .breadcrumps {
  float: left;
  padding-top: 18px;
  padding-left: 20px;
}
.content .header-power-btn {
  float: right;
  color: black;
  padding-right: 20px;
  padding-top: 11px;
}
.content .header-power-btn span {
  color: #332b2b;
}
.content .header-power-btn svg {
  fill: #332b2b !important;
}
