.top-panel {
  height: 70px;
  background-color: rgba(40, 38, 35, 1);
  color: white;
}
.content .title {
  font-family: 'Roboto Bold', 'Roboto';
  font-weight: 700;
  float: left;
  padding-top: 25px;
  padding-left: 20px;
}
.content .filters {
  float: right;
  padding-right: 20px;
}

.filters {
  width: 600px;
  height: 60px;
}
.filter {
  background-color: rgba(40, 38, 35, 1) !important;
  height: 70px;
}
